
  
div.container { 
    /*border: 1px solid;
    border-bottom: 0px;*/
    text-align: center;
    background-color: black;
  }

.container:last-child {
  border-bottom: 1px solid;
  /*text-align: center;-->*/
}
div.row { 
    border: 1px solid;
    border-bottom: 0px;
    text-align: center;
    /*width:267px;
    height:344px;*/
  }
  .container div.row:last-child {
    border-bottom: 1px solid;
    /*text-align: center;-->*/
  }
  div.col { 
    border: 1px solid;
    border-bottom: 0px;}
    
.container div.col:last-child {
    border-bottom: 1px solid;
        /*text-align: center;*/
}
div.char { 
    /*border: 1px solid;*/
    /*border-bottom: 0px;*/
    text-align: center;
    background-color: black
  }
  .container div.char:last-child {
    border-bottom: 1px solid;
    /*text-align: center;-->*/
  }
  #row.button:hover {
    border: 7px solid red;      
  }
  #select3{
    background-image :url('../images/Pselect.png');
    background-color: black;
    background-size: 60%;         
    background-position:center;          /* <------ */
    background-repeat:   no-repeat;
    height: 90px;
    width: 90x;   
  }
  #logo{
    background-image :url('../images/logo2.png');
    background-color: black;
    background-size: 50%;         
    background-position:center;          /* <------ */
    background-repeat:   no-repeat;
    height: 200px;
    width: 200x;   
  }
  
  
  /*------------------------Character Select styles---------------------------*/
  #p {
    background-image :url('../images/background.jpg');
    background-size: contain;         
    background-position:center;          /* <------ */
    background-repeat:   no-repeat;
    height: 440px;
    width: 240px;
    color: white;
    font-size: 20px;
  }
  #Ryu {
    background-image :url('../images/Ryu3.jpg');
    background-size: contain;
    background-position:right;                   /* <------ */
    background-repeat:   no-repeat;
    height: 171px;
    width: 0px;
    color: green;
    background-color: black;
    font-size: 15px;
    text-align: left;  
  }
  #Ryu:hover {
    border: 7px solid red;
  }
  #Dj {
    background-color: black;
    background-image :url('../images/Dj.jpg');
    background-size: contain;
    background-position:left;                   /* <------ */
    background-repeat:   no-repeat;
    height: 171px;
    width: 0px;
    color: green;  
    font-size: 15px;   
    text-align: right;   
  }
  #Dj:hover {
    border: 7px solid red;
  }
  #Chunli {
    background-image :url('../images/Chunli.jpg');
    background-size: contain;
    background-position:right;                   /* <------ */
    background-repeat:   no-repeat;
    height: 171px;
    width: 0px;
    color: green;
    background-color: black;
    font-size: 15px;  
    text-align: left;
  }
  #Chunli:hover {
    border: 7px solid red;
  }
  #Fei {
    background-image :url('../images/Feilong.jpg');
    background-size: contain;
    background-position:left;                   /* <------ */
    background-repeat:   no-repeat;
    height: 171px;
    width: 0px;
    color: green;
    background-color: black;
    font-size: 15px;
    text-align: right;
  }
  #Fei:hover {
    border: 7px solid red;
  }
  #Bison {
    background-image :url('../images/Bison.jpg');
    background-size: contain;
    background-position:right;                   /* <------ */
    background-repeat:   no-repeat;
    height: 171px;
    width: 0px;
    color: green;
    background-color: black;
    font-size: 15px; 
    text-align: left;  
  }
  #Bison:hover {
    border: 7px solid red;
  }
  #Akuma {
    background-image :url('../images/Akuma.jpg');
    background-size: contain;
    background-position:left;                   /* <------ */
    background-repeat:   no-repeat;
    height: 171px;
    width: 0px;
    color: green;
    background-color: black;
    font-size: 15px; 
    text-align: right;  
  }
  #Akuma:hover {
    border: 7px solid red;
  }
  #Sagat {
    background-image :url('../images/Sagat.jpg');
    background-size: contain;
    background-position:right;                   /* <------ */
    background-repeat:   no-repeat;
    height: 171px;
    width: 0px;
    color: green;
    background-color: black;
    font-size: 15px; 
    text-align: left;  
  }
  #Sagat:hover {
    border: 7px solid red;
  }
  #Vega {
    background-image :url('../images/Vega.jpg');
    background-size: contain;
    background-position:left;                   /* <------ */
    background-repeat:   no-repeat;
    height: 171px;
    width: 0px;
    color: green;
    background-color: black;
    font-size: 15px;
    text-align: right;
  }
  #Vega:hover {
    border: 7px solid red;
  }